body {
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header label {
    background-color: #006bdc;
    padding: 10px;
    border: 1px solid #0b53a7;
    border-radius: 5px;
    margin: 5px;
}

.header input {
    background-color: #3a3a3a;
    margin: 5px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding: 5px;
    color: white;
}